<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music News Chatter</title>
    <link rel="icon" href="../..public/assets/images/favicon.ico">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/assets/css/styles.css" media="screen" title="styles.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    {{!-- =============================== Navbar --}}
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Music News Chatter - Mongo Scraper</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="###">Saved Articles</a>
                </li>
                <li>
                    <button id="scraperButton">
                        <a href="/get">Scrape New Articles</a>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <main id="wrapper">
        {{{body}}}
    </main>

    {{!-- ============================ Footer  --}}
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Jennifer Guerra
            </div>
        </div>
    </footer> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>