<br>
<div id="wrapper">
    <div id="articles">
        <ul class="collection with-header" id="savedArticleTable">
            <li class="collection-header">
                <h4>Saved Articles</h4>
            </li>
            <li class="collection-item"></li>
        </ul>
    </div>
    <div id="notes"></div>
</div>